@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root {
  --main-color: #fb4e04;
  --secondary-color: #ffffff;
  --mydark: #000000;
  --sayan-yellow: #ffd700;
  --info: #17a2b8;
  --product-shadow: rgba(0, 0, 0, 0.2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}
body {
  cursor: url("../images/cursor.png") 16 16, auto !important;
}
p {
  font-family: Helvetica, sans-serif;
}
a {
  text-decoration: none !important;
}
li {
  list-style-type: none !important;
}
.heading1 {
  font-size: 2.5rem;
}
.heading2 {
  font-size: 2rem;
}
.heading3 {
  font-size: 1.75rem;
}
.heading4 {
  font-size: 1.5rem;
}
.heading5 {
  font-size: 1.25rem;
}
.heading6 {
  font-size: 1rem;
}
.pad {
  padding: 90px 0;
}
.wrdbrk {
  white-space: pre;
}
.fullpad {
  padding: 0 !important;
  margin: 0 !important;
}
.mw-20 {
  max-width: 20%;
}
.mw-10 {
  max-width: 10%;
}

.w0 {
  width: 0%;
}
.fixed {
  position: fixed;
  z-index: 2;
}
.priceicn {
  width: 50px;
}
.priceicn2 {
  width: 120px;
}
.point {
  bottom: 10px;
  left: 10px;
}
.point1 {
  bottom: 70px;
  left: 10px;
}
.point2 {
  bottom: 15px;
  right: 10px;
}
.blink {
  -webkit-animation: blink 1s;
  animation: blink 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.text-black {
  color: #000000;
}
/* Base styles for custom cursor */
.custom-cursor {
  width: 50px;
  height: 50px;
  border: 2px solid #e88e07;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, left 0.1s ease, top 0.1s ease;
  z-index: 9999;
}

/* Click effect animation */
.click-effect {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(232, 115, 4);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  animation: none;
}

// navbar
.navbar-light {
  .bi.bi-list.nav-icon {
    color: #fff;
  }
}
.navbar-light .navbar-toggler {
  border-color: var(--main-color) !important;
  span.navbar-toggler-icon {
    svg {
      fill: var(--main-color);
      stroke: var(--main-color);
      stroke-width: 5px;
    }
  }
}
.navbar-light .navbar-nav .active > .nav-link {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--main-color);
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-light .navbar-nav :hover.nav-link {
  color: var(--info) !important;
  transition: 1s;
  border-top: 3px solid var(--main-color) !important;
  border-bottom: 3px solid var(--main-color) !important;
}
.navbar {
  transition: background-color 1s ease, box-shadow 1s ease;
}

.navbar-sticky {
  background-color: var(--main-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  transition: color 1s ease;
}
// index intro carousel
.index-image-container {
  background-image: url("../images/about-print-5.webp");
}
.index-image-container-two {
  background-image: url("../images/about-print-3.webp");
}
.index-image-container-three {
  background-image: url("../images/about-print-4.webp");
}
#carouselExampleSlidesOnly {
  .index-image-container,
  .index-image-container-two,
  .index-image-container-three {
    background-color: #00000090;
    background-blend-mode: overlay;
    height: 30em;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .text-container {
      top: 8em;
      left: 36%;
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}
#carouselExampleSlidesOnly {
  .hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }
  img,
  svg {
    vertical-align: middle;
  }
  :not(svg) {
    transform-origin: 0px 0px;
  }
  .wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
    fill: var(--main-color);
    opacity: 0.6;
  }
  .wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
    fill: var(--secondary-color);
    opacity: 0.4;
  }
  .wave3 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
    fill: var(--secondary-color);
    opacity: 0.4;
  }
}
// hero section in index page
.hero-section-3 {
  background-color: #f8f9fa; /* Light gray background */
}

.hero-section-3 .hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
}

.hero-section-3 .hero-subtitle {
  font-size: 1.2rem;
  color: #6c757d;
}

// .hero-section-3 .hero-image {
//   max-width: 70%;
//   margin: 0 auto;
//   display: block; /* center the image */
// }

.hero-section-3 .hero-text-container {
  max-width: 700px;
  margin: 0 auto;
}

ul.hero-list {
  li > i.bi {
    color: var(--main-color);
  }
}
//stats section
.parallax {
  background-image: url("../images/parallax_bg.webp");
  background-color: #000000af;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  padding: 90px 0px;
  background-position: bottom;
  position: relative;
  background-attachment: fixed;
}
#stats {
  &.stats {
    background-color: #fb4e0494;
    padding: 60px 0;
    background-image: url("../images/about-print-5.webp");
    background-blend-mode: multiply;
    background-position: 10em -1em;
    background-size: cover;
    background-repeat: repeat;
    background-clip: border-box;

    .container {
      .row {
        .col-lg-3 {
          &.col-md-6 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            i {
              font-size: 2.5rem;
              color: var(--secondary-color); // primary color
              margin-bottom: 10px;
            }

            .stats-item {
              .count {
                font-size: 2.5rem;
                font-weight: bold;
                color: var(--sayan-yellow); // secondary color
                margin-bottom: 5px;
              }

              p {
                margin: 0;
                font-size: 1.2rem;
                color: var(
                  --secondary-color
                ); // slightly darker shade for contrast
              }
            }
          }
        }
      }
    }
  }
}
// index-services
.services .service-item {
  background-color: var(--secondary-color);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .image-container {
    width: 40%;
    height: 8em;
    margin-right: 2em;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .text {
    width: 60%;
    a {
      h3 {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}
.services {
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--mydark), transparent 50%);
    position: relative;
    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: var(--main-color);
      margin: 4px 10px;
    }
  }
  .my-card {
    margin-bottom: 2em;
  }
  .section-title p {
    color: var(--heading-color);
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--heading-font);
  }
}
// index-gallery
section.products-services {
  .grid-container {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    align-items: center;
    gap: 1em 2em;
    margin: 1em auto;
  }
  button.gallery-btn {
    margin-top: 4em;
    margin-bottom: 3em;
    border-radius: 1em;
  }
  .product-div {
    perspective: 1000px; // Enables 3D effect
    margin: 20px;
    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--secondary-color);
    }

    .card {
      transition: transform 0.6s ease, box-shadow 0.6s ease;
      transform-style: preserve-3d;
      will-change: transform, box-shadow;
      box-shadow: 0 10px 20px var(--product-shadow),
        0 6px 6px var(--product-shadow);
      border: none;
      overflow: hidden;

      &:hover {
        transform: rotateY(15deg) rotateX(10deg) scale(1.05);
        box-shadow: 0 15px 30px var(--product-shadow),
          0 10px 10px var(--product-shadow);
      }

      .mycard-img-top {
        transition: transform 0.6s ease;
        transform-origin: center center;

        &:hover {
          transform: scale(1.1); // Adds a subtle zoom effect
        }
      }

      .card-body {
        text-align: center;

        .card-title {
          font-size: 1.2rem;
          color: var(--main-color);
          font-weight: bold;
        }
      }
    }
  }
}
// index cta
section.cta {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background: #ffffff;
  color: #000000;
  border-radius: 100px;
  padding: 25px 40px 25px 28px;
  margin-top: -65px;
  margin-bottom: -4em;
  .ctaIcon {
    position: relative;
    display: flex;
    i {
      width: 82px;
      height: 71px;
      background: var(--main-color);
      border-radius: 50%;
      text-align: center;
      line-height: 73px;
      font-size: 30px;
      color: #fff;
      margin-right: 45px;
      align-self: center;
    }
    h4 {
      text-transform: uppercase;
      color: var(--main-color);
      line-height: 32px;
      font-size: 24px;
      font-weight: 500;
      margin: 27px 0 0;
    }
  }
  .mc4wp-form {
    position: relative;
    z-index: 2;
    margin: 13px 0 0;
    button.cta-btn {
      height: 61px;
      font-size: 18px;
      line-height: 61px;
      color: #fff;
      border: none;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
      background: var(--main-color);
      border-radius: 50px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 37px;
      outline: none;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }
  }
  .mc4wp-form input[type="text"] {
    width: 100%;
    height: 61px;
    border: none;
    background: #343a40;

    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    padding: 0 51px;
    margin: 0;
  }
}
// about page
//banner
.about-banner {
  background-image: url("../images/printing-5.webp");
  background-color: #0000009a;
  background-blend-mode: overlay;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
  width: 100%;
  text-align: center;
}
// about-first
section.about-first {
  .about-imgbg {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url(../images/bg-about-img.png) top left no-repeat;
      background-size: contain;
    }
  }
  .container-fluid {
    h5 {
      &::after {
        content: "";
        width: 30px;
        height: 1px;
        display: inline-block;
        background: var(--main-color);
        margin: 4px 10px;
      }
    }
  }
}
section.about-two {
  background-color: #db2b1b;
  color: #ffffff;
  opacity: 0.9;
  background-position: center bottom;
  background-size: cover;
  background-blend-mode: color-burn;
  .image-container.image-bg {
    background-color: #ffffff;
    border-top-left-radius: 6em;
    border-bottom-right-radius: 6em;
    height: 15.5em;
    max-width: 20em;
    position: relative;
    img {
      position: absolute;
      top: 0px;
    }
  }
  .image-container.height-increase {
    height: 20em;
  }
  .image-container.img-two {
    left: 14em;
    bottom: 5em;
  }
}
section.about-parallax {
  .about-parallax {
    background-image: url("../images/about-bannerbg.webp");
    background-color: #000000af;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    padding: 90px 20px;
    background-position: bottom;
    position: relative;
    background-attachment: fixed;
  }
}

// gallery page
section.gallery {
  .gallery-banner {
    background-image: url("../images/gallery-bg.webp");
    background-color: #000000c1;
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: 100%;
    text-align: center;
  }
}
section.mygallery {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1rem;
  }
  .product-div {
    perspective: 1000px;
  }
  .card {
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .product-div:hover .card {
    transform: rotateY(180deg);
  }
  .card-body,
  .custom-card-img {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .custom-card-img {
    transform: rotateY(0deg);
  }
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: var(--main-color);
    color: var(--secondary-color);
  }
}
// gallery animation
// contact page
.contactbg {
  background-image: url("../images/bg-3.webp");
  background-color: #9d6249;
  opacity: 0.85;
  background-blend-mode: overlay;
  background-position: center center;
  background-size: cover;
  .heading {
    position: relative;
    &::after {
      position: absolute;
      bottom: -20px;
      left: 13em;
      content: "";
      width: 120px;
      height: 5px;
      display: inline-block;
      background: var(--main-color);
      margin: 4px 10px;
    }
  }
  .contact-banner {
    background-image: url("../images/about-print-2.webp");
    background-color: #0000009a;
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: 100%;
    text-align: center;
  }
  .text-container {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .contact3 {
    border-right: 1px solid #c1000012;
  }
  .contact3 i {
    font-size: 60px;
    color: var(--main-color);
  }
  .hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .contact-icon i {
    font-size: 2.5rem;
    color: #007bff;
  }

  .fixed-icons a {
    position: fixed;
    z-index: 1000;
  }

  .whatsapp-icon {
    bottom: 10%;
    left: 5%;
  }

  .call-icon {
    bottom: 20%;
    right: 5%;
  }

  .quick-purchase-icon {
    bottom: 10%;
    right: 5%;
  }

  .quick-purchase-icon img,
  .whatsapp-icon img,
  .call-icon img {
    width: 50px;
    height: 50px;
  }

  .map-container iframe {
    border-radius: 5px;
  }
}
// services page
// services banner
section.services-intro {
  .services-banner {
    background-image: url("../images/service-3.webp");
    background-color: #0000009a;
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: 100%;
    text-align: center;
  }
}
section.services {
  h4 {
    font-weight: bold;
  }
  h2 {
    span {
      background-color: white;
      padding: 0.5em;
      border-radius: 1em;
    }
  }
  img#largeImage {
    width: 100%;
  }
  img.small-image {
    width: 100%;
  }
  h2.sub-heading {
    color: #575050 !important;
  }
  #business-cards {
    .card-banner {
      background-image: url("../images/services-businesscard.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 23em;
      background-color: #0d00ff90;
      background-blend-mode: darken;
    }
  }
  #brouchures {
    .card-banner {
      background-image: url("../images/brouchure-banner.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 23em;
      background-color: #ffcc0090;
      background-blend-mode: darken;
    }
  }
}
// footer section
footer {
  background-image: url("../images/printing-6.webp");
  background-color: #0d0e0f;
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  ul.quick-link {
    li > a {
      color: #ffffff;
    }
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.9) translateY(-50%);
    opacity: 0;
  }
  50% {
    transform: scale(1.05) translateY(10%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
/* Fade-out effect for large image */
.large-image {
  transition: opacity 0.5s ease-in-out;
}

.large-image.fade-out {
  opacity: 0; /* Fade out the image */
}
/* cursor Animations */
@keyframes clickAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
/* mobile screen  */
@media (min-width: 1px) and (max-width: 767.98px) {
  .pad {
    padding: 40px 0;
  }
  // nav
  ul.navbar-nav {
    background-color: var(--main-color);
  }
  // index page
  section.cta {
    border-radius: 0px;
    .ctaIcon h4 {
      font-size: 0.83rem;
      margin: 0;
    }
    .ctaIcon i {
      width: 50%;
      height: 100%;
    }
    .mc4wp-form button.cta-btn {
      padding: 0 22px;
    }
  }
  section.products-services button.gallery-btn {
    margin-top: 3em;
    margin-bottom: 5em;
    border-radius: 1em;
  }
  section.about-two {
    .image-container.image-bg {
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 15.5em;
      max-width: 20em;
      position: relative;
      img {
        position: absolute;
        top: 0px;
      }
    }
    .image-container.height-increase {
      height: 20em;
    }
    .image-container.img-two {
      left: 2em;
      bottom: 3em;
    }
  }
  // about last section
  section.about-first .container-fluid h5::after {
    display: none;
  }
  // services page
  section.services {
    // new layout
    .my-carousel {
      .image-container-large {
        height: 40em;
        width: 40%;
        img.large-image {
          object-fit: cover;
          width: 100%;
        }
      }
    }
    h4 {
      padding-top: 1em;
    }
    h2.sub-heading {
      span {
        font-size: 1.5rem;
        line-height: 3em;
        border-radius: 0px;
      }
    }
  }
}
// tablet
@media (min-width: 768px) and (max-width: 991.98px) {
  .pad {
    padding: 40px 0;
  }
  // nav
  ul.navbar-nav {
    background-color: var(--main-color);
  }
  section.products-services button.gallery-btn {
    margin-top: 2.5em;
    margin-bottom: 4em;
    border-radius: 1em;
  }
  // index cta
  section.cta {
    .ctaIcon {
      i {
        width: 4em;
        height: 100%;
      }
      h4 {
        font-size: 1rem;
      }
    }
    .mc4wp-form {
      button.cta-btn {
        background: transparent;
        right: 7em;
      }
    }
  }
  // about
  section.about-two .image-container.img-two {
    left: 4em;
    bottom: 2em;
  }

  // contact page
  .contactbg {
    h3.heading {
      position: relative;
      &::after {
        bottom: -0.5em;
        left: 8em;
      }
    }
  }
}

#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}
.oopslogo {
  width: 350px;
}
.notfound h2 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.notfound p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 5px;
}
.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 4px 15px -5px #0046d5;
}
/* tablet screens  */
@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 142px;
  }
}

.time-of-year {
  margin: 100px 75px 10px 75px;
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.time-of-year .tooltip {
  background: #db2a1b;
  border-radius: 3px;
  bottom: -49px;
  font-size: 20px;
  display: block;
  left: -67px;
  padding: 15px;
  pointer-events: none;
  position: absolute;
  width: 320px;
  height: 100px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.time-of-year .tooltip::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #db2a1b;
  bottom: 58px;
  content: " ";
  position: absolute;
  left: 0%;
  margin-left: -13px;
  transform: rotate(92deg);
}
.time-of-year:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
// utility classes
.bg-main {
  background-color: var(--main-color) !important;
}
.text-nav-main {
  color: var(--main-color);
  fill: var(--main-color);
  stroke: var(--main-color);
}
.text-main {
  color: var(--main-color) !important;
}
.btn-outline-main {
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important ;
  &:hover {
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
  }
}
.btn-outline-main-lightbg {
  color: var(--main-color) !important;
  border-color: var(--main-color) !important ;
  &:hover {
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
  }
}
.text-secondary {
  color: var(--secondary-color);
}
.helvetica {
  font-family: Helvetica, sans-serif;
}
.arial {
  font-family: Arial, sans-serif;
}
.border-topc {
  border-top: 1px solid var(--main-color) !important;
}
.animate-bounce-in {
  animation: bounceIn 0.6s ease forwards;
}
.heading-underline {
  width: 15em;
  height: 8px;
  background: var(--main-color);
  content: "";
  display: block;
  transform: skew(-30deg);
  margin: 0 auto;
}
